{% extends 'base.html.twig' %}

{% block title %}Delete Pin ~{{ pin.id}}{% endblock %}

{% block body %}

    <a href="{{path('app_home')}}">Go back</a>
    <h1>Supprimer Pin# {{ pin.id }} </h1>

    {{ form_start(formulaire) }}
        {{ form_widget(formulaire) }}

            <input type="Submit" value="Delete Pin">
    {{ form_end(formulaire) }}

{% endblock %}