{% extends 'base.html.twig' %}

{% block title %} {{ pin.getTitle() }}{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('app_home') }}">Go back</a> | 
        <a href="{{ path('app_pin_edit',{id:pin.id}) }}">Edit</a> | 

    </p>
    <h1>{{ pin.getTitle() }}</h1>
    <p>{{ pin.getDescription() }}</p>

    <form method="POST" action=" {{ path('app_pin_delete',{id:pin.id})}} ">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Pin">
    </form>


{% endblock %}