{% extends 'base.html.twig' %}

{% block title %} {{ pin.getTitle() }}{% endblock %}

{% block body %}

    <a href="{{ path('app_home') }}">Go back</a>
    <a href="{{ path('app_pin_edit',{id:pin.id}) }}">Edit</a>
    <a href="{{ path('app_pin_delete',{id:pin.id}) }}">Edit</a>
    <h1>{{ pin.getTitle() }}</h1>
    <p>{{ pin.getDescription() }}</p>


{% endblock %}